:root {
  --main-colour-1: #000000;
  --main-colour-2: #ffffff;
  --main-colour-3: #cccccc;
}

body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
  background-color: var(--main-colour-1);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;

}

.navbar li a, .navbar .navbar-brand {
  color: var(--main-colour-2) !important;
  background-color: var(--main-colour-1) !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: var(--main-colour-1) !important;
  background-color: var(--main-colour-2) !important;
}

.navbar .dropdown .dropdown-menu  li a {
  color: var(--main-colour-1) !important;
  background-color: var(--main-colour-2) !important;
}

.navbar .dropdown .dropdown-menu  li a:hover {
  color: var(--main-colour-2) !important;
  background-color: var(--main-colour-3) !important;
}



.navbar-default .navbar-toggle {
  border-color: transparent;
  color: var(--main-colour-2) !important;
}


.jumbotron {
  background-color: var(--main-colour-1);
  color: var(--main-colour-2);
  padding: 50px 25px;
}

.container-padding {
  padding: 0px 50px;
}

.breadcrumb-div {
  position: relative;

}

.breadcrumb-list {
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  position: relative;
  bottom: 0;

}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--main-colour-1);
}
